name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-dotnet@v1
    - run: dotnet build "TodoApi.csproj"
    - name: Create the package
    - run: dotnet pack --configuration Release "TodoApi.csproj"
