name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build docker image
      run: |
        docker build -f ${{ github.workspace }}/Dockerfile -t dotnet-core-api:${{ github.sha }} .
    - name: Scan container image
      uses: mr-smithers-excellent/docker-build-push@v3
      with:
        image: dotnet-core-api:${{ github.sha }}
        registry: docker.pkg.github.com
        githubOrg: override-org # optional
        username: ${{ github.actor }}
        password: ${{ secrets.PAT }} 
